@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);

body
{
	margin: 0;
	-webkit-font-smoothing: antialiased;
	font-family: 'Open Sans'!important;
}

.main
{
	width: 100%;
	margin: 0 auto;
	background-color: #f1f1f1;
	border-radius: 4px;
	padding-bottom: 40px;
}

.login-form
{

}

.txt-center
{
	text-align: center;
	font-family: 'Open Sans';
	font-weight: 400;
	color: #929292;
}

.login-input
{
	border: none;
	width: 100%;
	height:50px;
	margin-top:15px;
	border:2px solid #ebebeb;
	border-radius:5px;
	border-bottom:4px solid #ebebeb;
	outline: none;
	padding-left: 10px;
	font-size: 15px;
}

.login-btn
{
	background-color: #67bd3e;
	border: none;
	outline: none;
	border-radius: 5px;
	font-family: 'Open Sans';
	font-weight: 100;
	font-size: 16px;
	color: #ffffff;
	width: 100%;
	height: 50px;
	border-bottom:4px solid #55a430;
	margin-top: 15px;
	cursor: pointer;
}

