@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);

body
{
	margin: 0;
	-webkit-font-smoothing: antialiased;
	font-family: 'Open Sans'!important;
}

.clear
{
	clear: both;
}

.main-container
{
	max-width: 1200px;
	margin: 0 auto;
}

.top-nav
{
	/*background-color: #188EFC;*/
	background-color:#3b76a8;
	width: auto;
	padding: 15px 0;
}

.signin
{
	float: right;
	color: #ffffff;
}

.login-button
{
	border: none;
	outline: none;
	background-color: #67BD3E;
	padding: 3px 15px;
	font-family: 'Open Sans';
	font-weight: 100;
	border-radius: 4px;
	-webkit-transition: All 0.2s ease;
	-moz-transition: 0.2s ease;
	-ms-transition: 0.2s ease;
	-o-transition: 0.2s ease;
	color: #ffffff;
}

.login-button:hover
{
	background-color: #333333;
	color: #ffffff;
}

.header-wrapper
{
	background-color: #f1f1f1;
	width: 100%;
	padding-bottom: 0px;
}

.icon-bar-nav
{
	background-color: #22a5e9;
}

.btn-bg
{
	background-color: red;
}

.nav
{
	background-color: transparent;
	width: auto;
	padding: 20px 0;
}

.nav ul li
{
	list-style-type: none;
	float: left;
}

.navbar-nav ul li a
{
	text-decoration: none;
	margin-left: 25px;
	font-family: 'Open Sans';
	font-size: 15px;
	color: #22a5e9;
}

.navbar-nav li a:hover
{
	background-color:#67BD3E;
	border-radius: 6px;
	color: #ffffff;
}

.logo
{
	background-color: transparent;
	padding: 12px 0;
	text-align: center;
	cursor: pointer;
}

.logo img
{
	margin: 0;
	color: #22a5e9;
	padding-top: 10px;
}

.outer
{
	position: fixed;
	width: 100%;
	z-index: 99;
	overflow: hidden;
 	 box-shadow: 0px 2px 5px #d6d6d6;
}

.clouds
{
	width:100%;
    background:#3e83c8 url(../images/slider.png) repeat-x 0 bottom;
	padding-top: 40px;
	padding-bottom: 40px;
}

.header-txt
{
	background-color: transparent;
	text-align: center;
}

.header-txt h1
{
	margin: 0;
	font-family: 'Open Sans';
	font-size: 50px;
	margin-top: 90px;
	color: #333333;
	font-weight: 100;
}

.header-txt h3
{
	margin: 0;
	font-family: 'Open Sans';
	font-size: 22px;
	margin-top: 6px;
	color: #333333;
	font-weight: 600;
}

.header-btn
{
	background-color: #67BD3E;
	outline: none;
	border: none;
	font-size: 23px;
	font-family: 'Open Sans Semibold';
	padding: 10px 60px;
	margin-top: 25px;
	border-radius: 8px;
	color: #ffffff;
	-webkit-transition: All 0.2s ease;
	-moz-transition: 0.2s ease;
	-ms-transition: 0.2s ease;
	-o-transition: 0.2s ease;
}

.header-btn:hover
{
	background-color: #59a637;
}


.header-form
{
	/*background-color: #188EFC;*/
	background-color:#3b76a8;
	padding: 35px 63px;
	border-radius: 8px;
	text-align: center;
}

.form-input
{
	background-color: #e8e8e8;
	width: 100%;
	height: 45px;
	padding-left: 10px;
	margin-top: 20px;
	border-radius: 6px;
	outline: none;
	border: none;
	-webkit-transition: All 0.2s ease;
	-moz-transition: 0.2s ease;
	-ms-transition: 0.2s ease;
	-o-transition: 0.2s ease;
	font-family: 'Open Sans';
	font-size: 14px;
}

.form-input:focus
{
	background-color: #ffffff;
}

.form-btn
{
	background-color: #5FBC37;
	outline: none;
	border: none;
	padding: 13px 50px;
	margin-top: 20px;
	border-radius: 6px;
	color: #ffffff;
	-webkit-transition: All 0.2s ease;
	-moz-transition: 0.2s ease;
	-ms-transition: 0.2s ease;
	-o-transition: 0.2s ease;
	font-family: 'Open Sans';
	font-size: 14px;
}

.form-btn:hover
{
	background-color: #59a637;
	color: #ffffff;
}

.services-wrapper
{
	/*background-color: #188EFC;*/
	background-color:#3b76a8;
	width: auto;
}

.services
{
	/*background-color: #188EFC;*/
	background-color:#3b76a8;
	text-align: center;
	padding-top: 60px;
	padding-bottom: 60px;
	-webkit-transition: All 0.2s ease;
	-moz-transition: 0.2s ease;
	-ms-transition: 0.2s ease;
	-o-transition: 0.2s ease;
}

.services:hover
{
	/*background-color: #0C82F0;*/
	background-color:#336699;
}

.services h3
{
	margin: 0;
	font-family: 'Open Sans Light';
	color: #ffffff;
	padding-top: 10px;
}

.services i
{
	font-size: 120px;
	color: #ffffff;
	cursor: pointer;
	-webkit-transition: All 0.2s ease;
	-moz-transition: 0.2s ease;
	-ms-transition: 0.2s ease;
	-o-transition: 0.2s ease;
}

.services i:hover
{
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
}

.services-txt
{
	border-top: 1px solid #ffffff;
	margin-top: 10px;
}

.services-txt p
{
	margin: 0;
	padding-top: 10px;
	font-family: 'Open Sans';
	color: #ffffff;
	font-size: 13px;
	cursor: pointer;
}

.courses-wrapper
{
	background-color: #f2f2f2;
	padding-bottom: 40px;
}

.courses
{
	background-color: #f9f9f9;
	text-align: center;
	margin-top: 40px;
	border-radius: 8px;
	cursor: pointer;
	padding: 0 20px;
}

.courses-text
{
	font-family: 'Open Sans';
	font-size: 13px;
	color: #999;
	padding-top: 5px;
	padding-bottom: 15px;
	line-height: 20px;
}

.read_more a
{
    display: block;
    font-family: 'Open Sans';
    font-size: 13px;
    color: #000;
    text-decoration: none;
    padding-bottom:20px;
}

.courses h3
{
	font-family: 'Open Sans';
	margin: 0;
	padding-top: 20px;
	color: #1a1a1a;
	font-size: 18px;
	text-transform: uppercase;
}

.courses p
{
	margin: 0;
	font-family: 'Open Sans';
	color: #1a1a1a;
	font-size: 15px;
}

.courses span
{
	padding-left: 37px;
}

.courses img
{
	padding-top: 40px;
	-webkit-transition: All 0.2s ease;
	-moz-transition: 0.2s ease;
	-ms-transition: 0.2s ease;
	-o-transition: 0.2s ease;
}

.courses img:hover
{
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
}

.footer-wrapper
{
	background-color: #333333;
	width: auto;

}

.social-icons
{
	background-color: transparent;
	float: right;
}

.social-icons i
{
	color: #232323;
	font-size: 30px;
	-webkit-transition: All 0.2s ease;
	-moz-transition: 0.2s ease;
	-ms-transition: 0.2s ease;
	-o-transition: 0.2s ease;
	cursor: pointer;
	margin-right: 10px;
}

.social-icons i:hover
{
	color: #f1f1f1;
	-webkit-transition: All 0.2s ease;
	-moz-transition: 0.2s ease;
	-ms-transition: 0.2s ease;
	-o-transition: 0.2s ease;
}

.contact-us
{
	background-color: transparent;
	margin-left: 60px;
	padding-top: 50px;
}


.contact-us h1
{
	margin: 0;
	font-family: 'Open Sans Light';
	color: #7f7e7e;
}

.contact-us p
{
	margin: 0;
	color: #7f7e7e;
	padding-top: 5px;
}

.contact-input
{
	background-color: #232323;
	width: 80%;
	height: 45px;
	outline: none;
	margin-top: 20px;
	font-family: 'Open Sans';
	padding-left: 10px;
	border-radius: 4px;
	border: none;
	-webkit-appearance: none;
	color: #f1f1f1;
}

.contact-us-btn
{
	background-color: #67BD3E;
	padding: 10px 40px;
	color: #ffffff;
	border: none;
	outline: none;
	margin-top: 20px;
	-webkit-transition: All 0.2s ease;
	-moz-transition: 0.2s ease;
	-ms-transition: 0.2s ease;
	-o-transition: 0.2s ease;
	border-radius: 6px;
}

.contact-us-btn:hover
{
	background-color: #59a637;
}

.about-us
{
	background-color: transparent;
	padding-top: 90px;
	float: left;
	margin-right: 40px;
}

.about-us a
{
	text-decoration: none;
	display: block;
	font-family: 'Open Sans';
	font-size: 16px;
	color: #7f7e7e;
	margin-top: 15px;
	-webkit-transition: All 0.2s ease;
	-moz-transition: 0.2s ease;
	-ms-transition: 0.2s ease;
	-o-transition: 0.2s ease;
}

.about-us a:hover
{
	color: #ffffff;
	text-decoration: none;
}

.copyright
{
	background-color: transparent;
	text-align: center;
	border-top: 1px solid #595959;
	margin-top: 10px;
}

.copyright p
{
	margin: 0;
	color: #7e7e7e;
	padding: 25px 0;
}

@media only screen and (max-width: 966px) {

.header-form
{
	background-color: #188EFC;
	padding: 35px 63px;
	border-radius: 8px;
	margin-top: 20px;
}

.social-icons
{
	margin-top: 10px;
	text-align: center;
}

.about-us
{
	float: left;
	margin-left: 60px;
	padding-top: 0;
}

}


.courses-detail-wrapper
{
	max-width: 800px;
	margin: 0 auto;
	background-color: transparent;
}

.courses-nav
{
	background-color: #333333;
	width: auto;
}

.courses-nav ul
{
	margin: 0;
	padding: 0;
}

.courses-nav ul li
{
	list-style-type: none;
	float: left;
	padding: 15px 0px;
	-webkit-transition: All 0.2s ease;
	-moz-transition: 0.2s ease;
	-ms-transition: 0.2s ease;
	-o-transition: 0.2s ease;
	cursor: pointer;
}

.courses-nav ul li a
{
	text-decoration: none;
	font-family: 'Open Sans';
	font-size: 16px;
	color: #ffffff;
	padding: 15px 23px;
}

.courses-nav ul li a:hover
{
	background-color: #67BD3E;
}

.courses-detail-txt
{
	background-color: transparent;
	width: auto;
}

.courses-detail-txt h1
{
	margin: 0;
	font-family: 'Open Sans';
	color: #333333;
	font-weight: 100;
	padding: 20px 20px;
}

.courses-detail-txt p
{
	margin: 0;
	font-family: 'Open Sans';
	color: #333333;
	line-height: 30px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 40px;
}

.nav-active
{
	background-color: #67BD3E;
	color: #ffffff;
}

/*
.loginbox
{
	border:1px solid black;
	width:206px;
	height:232px;
	margin-top:0px;
	margin-right:6px;
	position:absolute;
	right:2px;
	z-index:29;
	background-color:#999999;
	display:none;
}

.loginbox a
{
	text-decoration:none;
	color:WHITE;
	font-weight:BOLD;
}

.loginform
{
	width:175px;
	padding:10px 10px;
	margin:5px;
	display:block;
	position:absolute;
	background-color:#232323;
	color:WHITE;
	font-weight:BOLD;
	float:right;
}
*/

.vb
{
	background-color: #f1f1f1;
}

.student-profile
{
	text-align: center;
	padding: 5px 0;
}

.student-comment
{
	color: #333333;
	font-family: 'Open Sans';
	font-weight: 100;
	padding: 8px 0;
}

.student-profile img
{
	border-radius: 50%;
	width: 60px;
	height: 60px;
	margin-left: 15px;
	border: 2px solid #e1e1e1;
}

.join-course
{
	padding: 0 15px;
}

.join-input
{
	width: 50%;
	margin: 15px 0;
}










@media only screen and (max-width: 480px) {

	.student-comment
	{
		text-align: center;
	}

	.join-input
	{
		width: 100%;
	}

 }


/*course page*/

.course_header
{
    padding:20px;
    background: #3B76A8;
    border-bottom:7px solid #A6CE39;
}
.c_container
{
    max-width: 1000px;
    color:#fff;
}

.c_container h3
{
    font-weight:600;
}
.c_container p
{
    padding-left:10px;
    color:#dddddd;
    font-size: 13px;
}
.course_feature
{
    font-weight:500;
    font-size: 20px;
}
table tr
{
   border:0px !important;

}
table tr td
{
    color:#dddddd;
    font-size: 13px;
    border:0px !important;

    padding:2px 0 0 10px !important
}

.course_fees
{
    color:#000;
}

.course_fees span
{
    font-size: 13px;
}

.course_start
{

    margin-top:5px;

}
.course_start-title
{
    background: #E4E4E4;
    padding:8px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-weight: bold;
}

.course_batch
{
    padding:10px 7px 7px 7px;
    font-size:12px;
    border-bottom:1px solid #DDDDDD;
    border-left:1px solid #DDDDDD;
    border-right:1px solid #DDDDDD;
}

.content_container
{
    padding:20px;
    max-width: 1100px;
}

.testimonial_title
{
    font-size: 20px;
    padding-bottom:10px;
    border-bottom:1px solid #ddd;
}
